---
import Timeline, { Items } from '@/common/components/Timeline'

const items: Items = [
  {
    url: 'https://www.upc.edu.pe/',
    title: 'Systems Engineering (UPC)',
    description: 'Using Java and Ruby as programming languages.',
    timeStart: '2018-03-01T05:00:00.000Z',
    timeEnd: '2019-09-01T05:00:00.000Z',
  },
]
---

<section class="space-y-4">
  <h3 class="text-center text-xl font-semibold text-blue-400">EDUCATION</h3>
  <Timeline {items} />
</section>
