<section class="space-y-4">
  <h3 class="text-center text-xl font-semibold text-blue-400">ABOUT ME</h3>
  <p class="text-center leading-snug">
    Hello! I am a Software Developer. I specialize in creating of web
    applications, although on some occasions I also do mobile apps.
  </p>
</section>
