---
import Container from '@/common/components/Container'

export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<footer class:list={['bg-blue-400 py-2', className]}>
  <Container>
    <div class="flex items-center">
      <p class="text-white text-xs uppercase">lbavendanos</p>
    </div>
  </Container>
</footer>
