---
import Container from '@/common/Container.astro'
import HomeAbout from './components/HomeAbout.astro'
import BaseLayout from '@/layouts/base/BaseLayout.astro'
import HomeFooter from './components/HomeFooter.astro'
import HomeHeader from './components/HomeHeader.astro'
import HomeContact from './components/HomeContact.astro'
import HomeEducation from './components/HomeEducation.astro'
import HomeKnowledge from './components/HomeKnowledge.astro'
import HomeExperience from './components/HomeExperience.astro'
---

<BaseLayout title="Luis Brayan Avendaño Suarez">
  <div class="flex flex-col min-h-screen">
    <HomeHeader />
    <main class="grow">
      <Container class="my-10 text-gray-600">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
          <div class="flex flex-col space-y-10">
            <HomeAbout />
            <HomeExperience />
            <HomeEducation />
          </div>
          <div class="flex flex-col space-y-10">
            <HomeKnowledge />
            <HomeContact />
          </div>
        </div>
      </Container>
    </main>
    <HomeFooter class="mt-auto" />
  </div>
</BaseLayout>
